<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Template</title>
  <link rel="icon" href="/favicon.ico">
  <script src="/tailwindplay.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body class="bg-cyan-950 text-yellow-50 p-2 w-screen">
    <div class="flex w-full mb-2">
        <div>htmxTunes v0.1</div>
        <div class="grow text-center">⏸️</div>
        <div id="track-count">123</div>
    </div>
    <input type="text" class="w-full bg-slate-900 px-1 mb-2"
    name="search" hx-get="/search"
    hx-trigger="keyup changed"
    placeholder="Search"></input>
    <!-- Can throttle searches with `delay:200ms` but I don't think we need to -->
  <!-- load tracks on startup -->
  <table id="tracks" hx-get="/tracks" hx-trigger="load"></table>
  <script type="module" src="/script.js"></script>
</body>
</html>

